/*header*/

@font-face {
    font-family: 'Myriad pro regular';
    src: url('../fonts/Myriad-Pro-Regular.ttf') format('truetype');
}

body{
    font-family:"Myriad pro regular";
}
.navbar-2.navbar-default{
    background: #fff;
    border: none;
    margin-bottom: 0;
}
.navbar-2 .navbar-brand{
    height: auto;
}

.navbar-2.navbar-default .navbar-collapse, .navbar-2.navbar-default .navbar-form{
    padding-top: 45px;
    padding-bottom: 0;
}

.navbar-fixed .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-fixed {
    background-color: #000000;
}

.banner-section{
    padding: 0;
    position: relative;
}
.quick-search-section{
    position: absolute;
}

.banner-carousel img{
    width: 100%;
}
.carousel-indicators li { visibility: hidden; }


/*Login form css starts*/

.content-banner-container{
    padding: 0;
}
.content-banner-container .page-title{
    color: #ffffff;
    padding: 65px 0;
}
.content-banner{
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
}
.main-content-section{
    background: #EEEEEE;
}
.box-container{
    background: #ffffff;
    padding: 50px;
    margin-top: 12%;
    margin-bottom: 12%;
}

.box-container  .form-control{
    height: 60px;
    border-radius: 0;
    font-size: 18px;
}

.box-container h2{
    font-size: 40px;
    margin-bottom: 25px;
}
.box-container h3{
    color: #45B0E4;
}
.box-container h3 a{
    color: #45B0E4;
}
.box-container button{
    width: 100%;
    height: 65px;
    border-radius: 2px;
    font-size: 30px;
}

.box-container .btn-primary{
    background: #85B200;
    border-color: #85B200;
}

.form-section{
    padding-right: 0;
}
.form-section .form-group{
    margin-bottom: 40px;
}
.form-section .checkbox{
    margin-top: 45px;
}
.form-section .checkbox label,.form-section .checkbox a{
    font-size: 18px;
    color: #828282;
}



/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    line-height: 40px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*Login form css ends*/

.footer.footer-container{
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #bbbbbb;
    line-height: 2;
}
.footer .footer-title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}
.footer .footer-content{
    padding: 0 25px 0 0;
    font-size: 18px;
}
.footer .footer-list .list-unstyled li a{
    color: #bbbbbb;
    font-size: 18px;
}
.footer .footer-bottom{
    border-top: 1px solid #393939;
    margin: 25px 0;
    padding: 25px 0;
    margin-bottom: 0;
    padding-bottom: 0;
}